@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(m2.jpg);
    color: #fff;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    height: 80px;
    width: 100%;
    top: 0;
	left: 0;
    background: rgba(0,0,0,0.4);;
}
.navbar .img{
	width: 140px;
	height: auto;
	padding: 20px 100px;
}
.logo{
    width: 100px;
    height: 50px;
    padding: 15px 25px;
}
.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar ul li{
    list-style: none;
    margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family:  'Dancing Script', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: rgba(133, 133, 133, 0.24);
	border-radius: 2px;
}
.center h1{
    color: white;
    font-size: 100px;
    font-weight: bold;
    width: 900px;
    text-align: center;
    padding-bottom: 300px;
    font-family:  'Dancing Script', sans-serif;
}
#ville{
    padding-top: 250px;
    width: 900px;
    margin: auto;
    background-color: rgba(133, 131, 131, 0.24);
    text-align: center;
    height: 1400px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.container{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}
img {
    margin-right: 66px;
    margin-top: 2px;
}
p{
    text-align: left;
    margin: 1% 0;
    font-size: 16pt;
    font-family: 'Poppins', sans-serif; 
}
h2{
    font-family: 'Dancing Script', sans-serif;
}
.flottant1{
    float: left;
    width: 400px;
    height: 300px;
    margin-left: 20px;
}
.flottant2{
    float: right;
    width: 400px;
    height: 300px;
    margin-left: 20px;
}
